QWidget#NotTransparencyFrm
{/*统一背景色*/
    background:rgb(231,231,231);
}
/*配置界面标题*/
QLabel#SettingMenuTitleHintLabel
{
    font-size:30px;
    color: black;
    font-weight:bold;
}
/*配置界面返回按钮*/
QPushButton#SettingMenuTitleRetBtn
{
    width:48px;
    height:48px;
    outline: none;
    border-image:url(:/Images/TitleReturn.png);
    background-color:transparent;
}
/*QToolButton样式*/
QToolButton
{
    padding-top:76px;
    padding-bottom:76px;
    font-size:26px;
    width:330px;
    height:350px;
    border-style:none;
    border-radius:0px;
    color:#FEFEFA;
    background:rgb(0, 135, 189);
}
QToolButton:hover
{
    color:#FEFEFA;
    background:#33A3D6;
}
QToolButton:pressed
{
    color:#FEFEFA;
    background:#33A3D6;
}
/*QListWidget样式*/
QListWidget
{
    outline: none;
    background:rgb(235,235,239);
    border:0px solid green;
    padding:0px 0px 0px 0px;
}
/**列表项*/
QListWidget::item
{
    padding:0px 0px 0px 0px;
    background:rgb(255,255,255);
    border-top:1px solid rgb(167, 165, 163);
    border-bottom:1px solid rgb(167, 165, 163);
    border-left:0px solid rgb(167, 165, 163);
    border-right:0px solid rgb(167, 165, 163);
    height:90px;
    width:600px;
}
/**列表项扫过*/
QListWidget::item:hover
{
    color:rgb(235,235,239);
}
/*自定义例表内容窗口高度，固定*/
/*QWidget#CItemWidget{}*/
/*QLabel样式*/
QLabel
{
    font-size:26px;
    color: black;
}
QLabel#LoginHintLabel
{
    font-size:22px;
    color: black;
}
QLabel#TopMessageHintLabel_1,#TopMessageHintLabel_3,#TopMessageHintLabel_4,#TopMessageHintLabel_5
{
    font-size:32px;
    color: red;
}

QLabel#TopMessageHintLabel_2
{
    font-size:26px;
    background-color:rgba(0,0,0,100);
    border-radius:20px;
    text-align:center;
}

QLabel#BottomMessageHintLabel_1,#BottomMessageHintLabel_2
{
    font-size:32px;
    color: red;
}
QLabel#BottomMessageHintLabel_3
{
    font-size:48px;
    color:white;
}

QLabel#HealthCodeFrmLabel
{
    font-size:25px;
    color: white;
}

/*==========选择按钮==============*/
QCheckBox{outline:0px;font-size:24px;}
QCheckBox::indicator:checked {image: url(:/Images/checked.png);}
QCheckBox::indicator:unchecked {image: url(:/Images/unchecked.png);}
QCheckBox:indicator{text-align:center;width: 42px;height: 42px;}

QCheckBox#LanSwitchBox::indicator:checked {image: url(:/Images/wifiOn.png);}
QCheckBox#LanSwitchBox::indicator:unchecked {image: url(:/Images/wifiOff.png);}
QCheckBox#LanSwitchBox:indicator{text-align:center;width: 64px;height: 52px;}

QCheckBox#WifiSwitchBox{outline:0px;}
QCheckBox#WifiSwitchBox::indicator:checked {image: url(:/Images/wifiOn.png);}
QCheckBox#WifiSwitchBox::indicator:unchecked {image: url(:/Images/wifiOff.png);}
QCheckBox#WifiSwitchBox:indicator{min-width: 64px;max-width:64px;height: 52px;}

QCheckBox#CItemFrmBox{outline:0px;}
QCheckBox#CItemFrmBox::indicator:checked {image: url(:/Images/wifiOn.png);}
QCheckBox#CItemFrmBox::indicator:unchecked {image: url(:/Images/wifiOff.png);}
QCheckBox#CItemFrmBox:indicator{text-align:center;width: 64px;height: 52px;}

QCheckBox#TimesetFrmBox{outline:0px;font-size:26px;}
QCheckBox#TimesetFrmBox::indicator:checked {image: url(:/Images/wifiOn.png);}
QCheckBox#TimesetFrmBox::indicator:unchecked {image: url(:/Images/wifiOff.png);}
QCheckBox#TimesetFrmBox:indicator{text-align:center;width: 64px;height: 52px;}

QCheckBox#FCheckBox{outline:0px;}
QCheckBox#FCheckBox::indicator:checked {image: url(:/Images/icon-checkbox.png);}
QCheckBox#FCheckBox::indicator:unchecked {image: url(:/Images/icon-uncheckbox.png);}
QCheckBox#FCheckBox:indicator{text-align:center;width: 32px;height: 32px;}

QGroupBox{font-size:26px;}
/*滚动条样式*/
QScrollBar:vertical{
    background:rgba(232, 232, 236,200);
    width: 13px;
    border-radius:5px;
}
QScrollBar:horizontal{
    background:rgba(232, 232, 236,200);
    height: 13px;
    border-radius:5px;
}
QScrollBar::handle{
    background:lightgray;
    border: 0px solid transparent;
    border-radius:5px;
}
QScrollBar::handle:hover{
    background:gray;
}
QScrollBar::sub-line{
    background:rgba(232, 232, 236,200);
}
QScrollBar::add-line{
   background:rgba(232, 232, 236,200);
}
/*按钮样式*/
QPushButton{font-size:26px;color:white;background-color:rgb(0, 135, 189);border-radius:5px;outline: none;}
QPushButton:hover{color:white;background-color:rgb(51 , 163 , 214);}
QPushButton:pressed{color:white;background-color:rgb(51 , 163 , 214);padding-left:3px;padding-top:3px;}
QPushButton:disabled{background-color:grey;}
/*输入框*/
QLineEdit
{
    height:52px;
    font-size:24px;
    border:1px solid rgb(0,123, 167);
    border-style:solid;
    border-radius:5px;
    outline: 0px;
}
/*===========QComboBox=======*/
QComboBox{
    font-size:30px;
    background-color:#007BA7;
    color:#FEFEFA;
    border-style:none;
    border-radius:0px;
}
QComboBox:down-arrow{image: url(:/Images/triangledown.png);}
QComboBox:drop-down{
    width:32px;
    subcontrol-origin: padding;
    subcontrol-position: top right;

    border-left-width: 1px;
    border-left-color: darkgray;
    border-left-style: solid;
    border-top-right-radius: 1px;
    border-bottom-right-radius: 1px;
}
QComboBox QAbstractItemView{
    border-style:none;
    selection-background-color:#325486;
    outline:0px;
    background-color:#4A6585;
    color:#FEFEFA;
}

QRadioButton{font-size:26px;outline: 0px;color:black;}
QRadioButton::indicator {width: 32px;height: 32px;}
QRadioButton::indicator::unchecked{image: url(:/Images/radiobutton_unchecked.png);}
QRadioButton::indicator::checked{image: url(:/Images/radiobutton_checked.png);}

QRadioButton#choiceRadioButton{font-size:36px;outline: 0px;color:black;}
QRadioButton#choiceRadioButton::indicator {width: 42px;height: 42px;}
QRadioButton#choiceRadioButton::indicator::unchecked{image: url(:/Images/unchoiceRadioButton.png);}
QRadioButton#choiceRadioButton::indicator::checked{image: url(:/Images/choiceRadioButton.png);}

/**/
QTimeEdit{font-size:22px;}
/*自定义弹出对话框样式表 宽度和高度由代写固定在650 *230*/
QDialog#OperationTipsFrm
{
    background-color:rgb(231, 231, 231);
    border:1px solid #bfbfbf;
    outline: none;
}
/*对话框标题样式*/
QLabel#DialogTitleLabel
{
    color:black;
    font-size:32px;
    font-weight:bold;
    background:transparent;
}
/*对话框里面文本提示样式*/
QLabel#DialogLabel
{
    color:black;
    font-size:32px;
    background:transparent;
}

QLabel#VolumeFrmLabel,#LuminanceFrmLabel
{
    text-align:center;
    color:black;
    font-size:32px;
    min-width:58px;
    max-width:58px;
    background:transparent;
}

/*对话框背影---已弃用,当时主要用于圆角,ARM不支持透明*/
QFrame#DialogBackground
{
    background-color:rgb(231, 231, 231);
    border-radius: 0px;
    border:0px;
    outline: none;
}
/*线条样式*/
QFrame#HLineFrm
{
    background-color:#bfbfbf;
    border:0px;
    outline: none;
    max-height:1px;
    min-height:1px;
}
QFrame#UserViewModelFrm
{
    background-color:#bfbfbf;
    border:0px solid #bfbfbf;
}
QFrame#ViewAccessRecordsModelFrm
{
    background-color:#bfbfbf;
    border:0px solid #bfbfbf;
}
/*数据录入对话框*/
QDialog#InputBaseDialog
{
    background-color:rgb(231, 231, 231);
    border:1px solid #bfbfbf;
    outline: none;
    min-width:520px;
    max-width:520px;
    height:250px;
}
/*门禁-韦根输出格式*/
QDialog#WigginsOutputFrm
{
    background-color:rgb(231, 231, 231);
    border:1px solid #bfbfbf;
    outline: none;
    min-width:520px;
    max-width:520px;
    height:330px;
}
/*门禁-出入类型*/
QDialog#AccessTypeFrm
{
    background-color:rgb(231, 231, 231);
    border:1px solid #bfbfbf;
    outline: none;
    min-width:520px;
    max-width:520px;
    height:330px;
}
/*语言设置*/
QDialog#LanguageFrm
{
    background-color:rgb(231, 231, 231);
    border:1px solid #bfbfbf;
    outline: none;
    min-width:520px;
    max-width:520px;
    height:490px;
}
/*识别距离*/
QDialog#IdentifyDistanceFrm
{
    background-color:rgb(231, 231, 231);
    border:1px solid #bfbfbf;
    outline: none;
    min-width:520px;
    max-width:520px;
    height:490px;
}
/*补光设置*/
QDialog#FillLightFrm
{
    background-color:rgb(231, 231, 231);
    border:1px solid #bfbfbf;
    outline: none;
    min-width:520px;
    max-width:520px;
    height:430px;
}
/*输入wifi密码*/
QDialog#InputWifiPassword
{
    background-color:rgb(231, 231, 231);
    border:1px solid #bfbfbf;
    outline: none;
    min-width:520px;
    max-width:520px;
    height:250px;
}
/*音量设置-亮度设置*/
QDialog#VolumeFrm,#LuminanceFrm
{
    background-color:rgb(231, 231, 231);
    border:1px solid #bfbfbf;
    outline: none;
    min-width:520px;
    max-width:520px;
    min-height:140px;
    max-height:140px;
}
/*通行记录-配置通行记录*/
QDialog#ConfigAccessRecordsFrm
{
    background-color:rgb(231, 231, 231);
    border:1px solid #bfbfbf;
    outline: none;
    min-width:520px;
    max-width:520px;
    min-height:360px;
    max-height:360px;
}
/*系统维护*/
QDialog#SystemMaintenanceFrm
{
    background-color:rgb(231, 231, 231);
    border:1px solid #bfbfbf;
    outline: none;
    min-width:520px;
    max-width:520px;
    min-height:290px;
    max-height:290px;
}
/*设备关机*/
QDialog#DevicePoweroffFrm
{
    background-color:rgb(231, 231, 231);
    border:1px solid #bfbfbf;
    outline: none;
    min-width:460px;
    max-width:460px;
    min-height:165px;
    max-height:165px;
}
/*设备关机按钮*/
QPushButton#DevicePoweroffButton
{
    color:white;
    min-width:120px;
    max-width:120px;
    min-height:120px;
    max-height:120px;
    border-radius:60px;
    background-color:rgb(0, 135, 189);
}
QPushButton:hover#DevicePoweroffButton
{
    background-color:rgb(51 , 163 , 214);
}
QLabel#DevicePoweroffFrmLabel
{
    border:0px;
    outline: none;
    color:red;
    font-size:25px;
}
/*存储容量-剩余空间按钮提示*/
QPushButton#SurplusSpaceButton
{
    border-radius:0px;
    background-color:yellow;
    border:0px;
    outline: none;
    min-width:32px;
    max-width:32px;
}
/*存储容量-已用空间按钮提示*/
QPushButton#UsedSpaceButton
{
    border-radius:0px;
    background-color:#003153;
    border:0px;
    outline: none;
    min-width:32px;
    max-width:32px;
}
/*主页时钟显示*/
/**
QWidget#FaceHomeTitleFrm
{
    background-color:rgba(0, 0, 0, 100);
}
**/
QLabel#ClockLabel
{
    border:0px;
    outline: none;
    color:white;
    font-size:22px;
}
QLabel#NetPngLabel
{
    border:0px;
    outline: none;
    color:white;
    min-width:42px;
    min-height:32px;
    image: url(:/Images/ethernet_disconnect.png);
}
QLabel#FaceHomeBottomLabel
{
    border:0px;
    outline: none;
    color:white;
    font-size:20px;
}
/*测温环境*/
QDialog#TemperatureModeFrm
{
    background-color:rgb(231, 231, 231);
    border:1px solid #bfbfbf;
    outline: none;
    min-width:520px;
    max-width:520px;
    height:430px;
}
/*时间日期更改*/
QDialog#ChangeDateTimeFrm
{
    background-color:rgb(231, 231, 231);
    border:1px solid #bfbfbf;
    outline: none;
}

/*进度条样式*/
QProgressBar
{
    font-size:22px;
    color:black;
    border:0px;
    background-color:#003153;
}
QProgressBar::chunk
{
    border:0px;
    background-color:yellow;
}
/*划动条样式*/
QSlider
{
    background:transparent;
    height: 16px;
    border-radius: 0px;
}

QSlider::groove:horizontal
{
    border: 0px solid rgba(240, 240, 240, 255);
    height: 16px;
    border-radius: 1px;
    padding-left:-1px;
    padding-right:-1px;
}

QSlider::sub-page:horizontal
{
    background:#5386d9;
    border: 0px solid #B2DEF7;
    height: 16px;
    border-radius: 0px;
}

QSlider::add-page:horizontal
{
    background: #B2DEF7;
    border: 0px solid #777;
    height: 16px;
    border-radius: 0px;
}

QSlider::handle:horizontal
{
    background:rgba(255, 255, 255, 255);
    width: 16px;
    height:16px;
    border-radius: 8px;
}

QSlider::handle:horizontal:hover
{
    background:rgba(255, 255, 255, 255);
    width: 16px;
    height:16px;
    border-radius: 8px;
}
QTableWidget{font-size:22px;}
QTableView{font-size:22px;}

QHeaderView
{
    font-size:22px;
    color: white;
    background-color: rgb(108, 108, 108);
    border: 0px solid rgb(144, 144, 144);
    border:0px solid rgb(191,191,191);
    border-left-color: rgba(255, 255, 255, 0);
    border-top-color: rgba(255, 255, 255, 0);
    border-radius:0px;
    min-height:38px;
}
QHeaderView::section
{
    color: white;
    background-color: rgb(108, 108, 108);
    border: 0px solid rgb(144, 144, 144);
    border:0px solid rgb(191,191,191);
    border-left-color: rgba(255, 255, 255, 0);
    border-top-color: rgba(255, 255, 255, 0);
    border-radius:0px;
    min-height:38px;
}
QTableWidget::item{border-bottom:1px solid #EEF1F7;}
QTableWidget::item::selected{color:red;background:#EFF4FF;}


/*健康码界面主标题*/
QLabel#LRHealthCodeFrmTitle
{
    font-size:58px;
    color: white;
    font-weight:bold;
}

/*健康码界面温度标题*/
QLabel#LRHealthCodeFrmTempTitle
{
    font-size:48px;
    color: black;
    font-weight:bold;
}

/*健康码界面人脸信息内容*/
QLabel#LRHealthCodeFrmPersonInfo
{
    font-size:34px;
    color: black;
}

/*健康码界面核酸和疫苗标题*/
QLabel#LRHealthCodeFrmHSAndYMTitle
{
    font-size:42px;
    color: black;
    font-weight:bold;
}

/*健康码界面核酸结果0*/
QLabel#LRHealthCodeFrmHSResult0
{
    font-size:60px;
    color: black;
}

/*健康码界面核酸结果1*/
QLabel#LRHealthCodeFrmHSResult1
{
    font-size:34px;
    color: black;
}

/*健康码界面疫苗结果0*/
QLabel#LRHealthCodeFrmYMResult0
{
    font-size:28px;
    color: black;
}

/*健康码界面疫苗结果1*/
QLabel#LRHealthCodeFrmYMResult1
{
    font-size:28px;
    color: black;
}

/*健康码界面疫苗结果2*/
QLabel#LRHealthCodeFrmYMResult2
{
    font-size:28px;
    color: black;
}

QLabel#CenterHomeIcon 
{
    background: transparent;
    padding: 10px;
}


QPushButton#CenterHomeIcon:hover {
    background: rgba(255, 255, 255, 0.1);
}
